<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>g[games]</title>
</head>
<body>

  <header>
    <h1>Galvanize Games</h1>
  </header>

  <main>
    <a href="/gamers">
      <h2>Gamers</h2>
    </a>

    <a href="/games">
      <h2>Games</h2>
    </a>
  </main>

</body>
</html>
